{% extends 'movies/base.html' %}
{% block content %}
<br>
<h1>test 페이지입니다.</h1><br>
<a href="{% url 'movies:new' %}">영화 작성</a>
<hr>
{% for movie in movies %}
<p>{{ movie.title }} </p>
<p>{{ movie.title_en }} </p>
<p>{{ movie.audience }} </p>
<p>{{ movie.open_date }} </p>
<p>{{ movie.genre }} </p>
<p>{{ movie.watch_grade }} </p>
<p>{{ movie.score }} </p>
<img src="{{ movie.poster_url }}" alt="movie_img" width="480px" height="680px">
<p>{{ movie.description }} </p>
<br>
<a href="{% url 'movies:detail' movie.pk %}">자세히 보기</a>
<hr>

{% endfor%}
{% endblock %}


